.container{
  width: 600px;
  height: 500px;
  border: 3px solid #000;
  margin: 30px auto;
}
div{
  border: 3px solid ;
}
.header{
  height: 15%;
  border-color: aqua;
}
.middle{
  display: flex;
  height: 70%; 
}
.middle div:first-child{
  width: 20%;
  border-color: orange;
}
.middle div:nth-child(2){
  width: 80%;
  border-color: violet;
}
.footer{
  height: 15%;
  border-color: gray;
}