.con1{
  border: 3px solid #000;
  width: 500px;
  height: 400px;
  margin: 30px auto;
}
.head1{
  border: 3px solid yellowgreen;
  display: flex;
  height: 10%;
}
.head1 div:first-child{
  border: 3px solid red;
  width: 65%;
}
.head1 div:last-child{
  border: 3px solid aqua;
  width: 35%;
}
.mid1{
  border: 3px solid tomato;
  display: flex;
  height: 75%;
}
.mid1 div:first-child{
  border: 3px solid gray;
  width: 20%;
}
.mid1 div:last-child{
  border: 3px solid steelblue;
  width: 85%;
}


.con2{
  width: 500px;
  height: 400px;
  border: 3px solid #000;
  margin: 30px auto;

}
.head2{
  height: 20%;
  border: 3px solid brown;
}
.mid2{
  border: 3px solid yellowgreen;
  display: flex;
  height: 80%;
}
.mid2-1{
  border: 3px solid teal;
  width: 60%;
}
.mid2-2{
  border: 3px solid purple;
  width: 40%;
  flex-direction: column;
  justify-content: space-around;
}
.mid2-2 div{
  height: 33.3%;
  border: 3px solid royalblue;
}

/* 
  height 에서 vh 사용가능
  100vh : 웹 브라우저의 세로크기
 */
.con3{
  width: 1500px;
  border: 1px solid #000;
  margin: 30px auto;
  height: 100px;
  display: flex;
  
  color: antiquewhite;
  background-color: black;
  justify-content: space-between;
  padding: 20px;
}
.head3{
  display: flex;
  align-items: center;
  gap: 6px;
}
.menu3{
  width: 400px;
  display: flex;
  border: 0px solid white;
    justify-content: space-evenly;
    align-items: center;
  
}

