@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: "Montserrat", sans-serif;
}

body{
  background-color: lightcyan;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  width: 360px;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
}
.img-div{
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.img-div img{
  width: 100%;
  height: 200px;
  transition: all 0.5s;
}
.img-div img:hover{
  scale: 1.1;
  
}
.img-div span{
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
}
.detail-div{
  padding: 12px;
  
}
.detail-1>p:nth-child(1){
  font-weight: bold;

}
.detail-1>p:nth-child(2){
  font-size: 2rem;
  color: orange;
  font-weight: 570;
  margin: 5px 0px;
}
.detail-1>p:nth-child(3){
  color: gray;

}

.detail-2{
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 20px 0px;
  margin: 12px 0px;
}
.detail-3 img{
  width: 44px;
  border-radius: 50%;
  border: 1px solid lightgray;

}


.infor-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.infor-div>div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.btn{
  background-color: lightgreen;
  color: white;
  border-radius: 8px;
  padding: 6px 16px;
  border: none
}