body{
  background-color: #d9fdff;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background-color: white;
  width: 500px;
  margin-top: 50px;
  /* height: 1000px; */
  box-shadow: 5px 5px 30px 5px #333333;
  border-radius: 8px;
  padding: 50px;
}
input{
  border-radius: 8px;
}
select{
  border-radius: 8px;
}
.f1{
  font-size: 0.8rem;
  margin: 10px 0px 40px 0px;
}
.form >div{
  margin: 10px 0px;
}
.form p{
  margin-bottom: 2px;
}
.id input{
  padding: 10px;
}
.id input[type="text"]{
  width: 60%;
  border-color: gainsboro;
}
/* input태그는 클릭하면 border가 바뀌는게 아니라 outline이 생기는거다.
클릭 시 색 바뀌게 하려면 가상 focus 주고 outline none 주면됨 */
/* outline은 주변 요소에 영향을 주지 않음
border주고 outline none주면 글자 밀림
border 안적고 outline 설정만하면 글자 안밀림 */
.id input[type="text"]:focus{
  /* border: 3px solid red; */
  /* outline: none; */
  outline: 3px solid red;

}
.id input[type="button"]{
  width: 35%;
  background-color: #00b6ef;
  color: white;
  border-color: #00b6ef;
  border-radius: 8px;
}
.password input{
  width: 96%;
  padding: 10px ;
  border-color: gainsboro;
}
.password input:focus{
  /* border: 3px solid red; */
  /* outline: none; */
  outline: 3px solid red;
}
.passwordcheck input{
  width: 96%;
  padding: 10px ;
  border-color: gainsboro;
}
.name input{
  width: 96%;
  padding: 10px ;
  border-color: gainsboro;
}
.add input{
  width: 96%;
  padding: 10px ;
  border-color: gainsboro;
}
.add input:last-child{
  margin-top: 10px;
}
.cellphone input{
  width: 96%;
  padding: 10px ;
  border-color: gainsboro;
}

.email input{
  width: 30%;
  padding: 10px ;
  border-color: gainsboro;
}
.email select{
  width: 28%;
  padding: 10px;
  color: gray;
  border-color: gainsboro;
}
.email input:nth-child(4){
  background-color: #f5f5f5;
}

.birth select{
  
  width: 28%;
  padding: 10px;
  border-color: gainsboro;
  color: gray;
  margin: 0px 17px 0px 0px;
}
.login{
  padding: 50px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.login input:first-child{
  color: white;
  background-color: #00b6ef;
  padding: 10px 30px;
  border-color: #00b6ef;
  border-radius: 8px;
  box-shadow: 3px 4px 7px 3px #333333;
}
.login input:last-child{
  color: white;
  background-color: #efc900;
  padding: 10px 30px;
  border-color: #efc900;
  border-radius: 8px;
  box-shadow: 3px 4px 7px 3px #333333;
}
span{
  color: red;
}
.email>span{
  color: black;
}