.con4{
  height: 800px;
  border: 1px solid #000;
  width: 400px;
  padding: 20px;
  margin: 30px auto;
  
}
.welcom{
  border: 1px solid #000;
  height: 25%;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
span{
  
}
.menu4{
  border: 1px solid #000;
  height: 50%;
 
}
.menu4>div{
  
  border: 1px solid #d00d0d;
  height: 25%;
  
}

.menu4 input{
  width: 100%;
  height: 40px;
}
.end4{
  border: 1px solid #000;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.end4 div:nth-child(2) input{
  width: 100%;
  background-color: royalblue;
  height: 50px;
  color: white;
}
.end4 a{
  text-align: center;
  margin: auto;
}