.container{
  
  width: 400px;
  margin: 30px auto;
  height: 590px;
  background-color: white;
  box-shadow: 5px 5px 30px 2px black;
  padding: 15px;
}
.container>h1{
  text-align: center;
  
}
.container h3{
  margin: 30px 0px 1px 0px;
  font-style: italic;
}
.eduTitle{
  text-align: left;
}
.eduTB{
  display: flex
  
}
.eduTB>select{
  width: 30%;
  padding: 8px;
  border-radius: 10px;

}
.eduTB>input{
  width: 60%;
  margin-left: 30px;
  border-radius: 10px;
  padding-left: 10px;
  
}

.ph p{
  margin: 3px 0px;
}


thead{
  background-color: #4472c4;
  color: white;
}

tbody{
  background-color: #cfd5ea;
}
td{
  text-align: center;
  font-weight: bold;
}
tr>td:first-child{
  width: 33%;
}
tr>td:nth-child(2){
  width: 33%;
}

table input{
  width: 80%;
  border-radius: 5px;
}

.yearmonth>input:first-child{
  width: 20%;
}
.yearmonth>input:nth-child(2){
  width: 30%;
}
.tt{
  width: 100%;
  border-radius: 10px;
}
.info1{
  width: 300px;
  margin: 10px auto;
}
.info1>p{
 
  margin: 5px 

}