.container{

}

.search_div{
  display: flex;
  justify-content: end;
  gap: 8px;
}

.list_div{
  margin: 20px 0px;
}

.list_table{
  text-align: center;
  width: 100%;
}

.list_table td{
  padding: 8px 12px;
}

.list_table > thead > tr{
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  background-color: black;
  color: white;
  font-weight: bold;
}

.list_table > tbody > tr{
  border-bottom: 1px solid #666666;
}

.list_table > tbody > tr:nth-child(even){
  background-color: rgba(200, 200, 200, 0.1);
}

.list_table > tbody > tr:hover{
  background-color: rgba(200, 200, 200, 0.2);
}

.list_table > tbody > tr > td:nth-child(2){
  text-align: left;
}

.btn_div{
  text-align: center;
}