
.head{
  /* border: 1px solid #000; */
  display: flex;
  justify-content: end;
  padding: 15px 0px;
  width: 100%;
  gap: 10px;
}

.select{
  width: 100px;
}

.button{
  width: 60px;
  background-color: #EDEDCE;
  border: none;
  border-radius: 5px;
}

.table{
  width: 100%;
  text-align: center;
}

.thead{
  background-color: #215E61;
  
}
.thead tr{

}
.thead tr td{
  border: 4px solid #ffffff;
  padding: 7px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.tbody{
  
  background-color: #FFD8DF;
}

.tbody tr td{
  border: 2px solid #ffffff;
  padding: 5px;
}
.tbody>tr:nth-child(even){
  background-color: #FFAAB8;
}
/* .tbody>tr>td:nth-child(1) {
  width: 10%;
} */
.tbody>tr>td:nth-child(2) {
  padding-left: 10px;
  text-align: left;
  width: 30%;
}
/* .tbody>tr>td:nth-child(3) {
  width: 15%;
}
.tbody>tr>td:nth-child(4) {
  width: 30%;
} */
.tbody tr:hover{
  background-color: #FFDAB3;
}
.button2div{
  margin-top: 20px;
  /* border: 1px solid #000; */
  text-align: center;
}
.button2{
  padding: 5px 20px;
  background-color: #9F8383;
  border: none;  
  border-radius: 8px;
}

