.container{
  border: 0px solid black;
  margin: 30px auto;
  width: 500px;
}
.title{
  text-align: center;
  margin: 0px;
}
.right{
  text-align: right;
  margin: 0px;
}
.table{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
tr,td{
  border: 1px solid black;
}
/* 폰트사이즈 : 1rem : 16px
0.9rem : 16x0.9px */
.red{
  color: red;
  font-size: 0.7rem;
  margin: 0px;
}
.btn-div{
  text-align: right;
  margin: 10px 0px;
}