.container{
  width: 500px;
  height: 400px;
  margin: 30px auto;
  border: 1px solid #000;
  display: grid;
  /* grid-template-columns: 100px 200px 150px; */
  /* grid-template-columns: 20% 50% 30%; */

  /* fr은 배율이다 1:2:3 */
  /* grid-template-columns: 1fr 2fr 3fr; */
  /* grid-template-columns: 1fr 1fr 1fr; */

  /* repeat은 repeat(갯수, fr or % or px) */
  grid-template-columns: repeat(3, 20%);
  grid-template-rows: repeat(3, 100px);
  gap: 10px 30px;
}
.item{
  border: 1px solid red;
}