.red{
  width: 400px;
  height: 50px;
  background-color: #f08080;
  color: white;
  line-height: 50px;
  text-align: center;
}

.blue{
  width: 400px;
  height: 50px;
  color: white;
  line-height: 50px;
  text-align: center;
  background-color: #87cefa;
}