body{
  background-color: lightslategray;
}
.container{
  background-color: white;
  padding: 14px;
  margin: 30px auto;
  width: 80%;
  
}
.infor>p:first-child{
  color: white;
  background-color: pink;
  border-radius: 10px;
  width: 120px;
  margin: 0px auto;
  padding: 4px 0px;
}
.infor{
  text-align: center;
}
.infor>p:nth-child(2){
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 8px;
}
.item{
  position: relative;
}
.item>img{
  width: 100%;
  /* height: 450px; */
}
.list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.intro{
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  /* opacity 투명도 */
  opacity: 0;
  transition: all 0.5s;
}
.intro:hover{
  opacity: 1;
}
.icon span:hover{
  cursor: pointer;
  color: lightskyblue;
}